//Mobile first
// @media (min-width: 480px) {

// }

// Desktop first
@media (max-width: 479px) {
	// header==================================================

	.title {
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 20px;
	}
	.subtitle {
		margin-bottom: 36px;
	}
	// banner==================================================
	.banner {
		&__title {
			max-width: 430px;
			font-size: 50px;
			line-height: 50px;
		}
	}

	// about ================================================================
	.about {
		&__inner {
			top: 20px;
		}
		&__subtitle{
			background-color: rgba(0, 0, 0, 0.295);
			padding: 10px;
			border-radius: 20px;
			margin-bottom: 20px;
		}
	}
	.stat {
		margin-bottom: 30px;
		&__item {
			padding: 10px 16px 20px;
		}
		&__item-number {
			font-size: 30px;
		}
		&__item-name {
			font-size: 16px;
		}
	}
	// discover =======================================================
	.discover-btn {
		padding: 8px;
	}
	.discover-btn-text-block {
		margin-right: 6px;
	}
	.discover-btn-text {
		font-size: 14px;
		position: relative;
		top: -2px;
	}
	.discover-btn-icon-block {
		display: none;
	}

	.discover {
		&__inner {
			padding-top: 90px;
			padding-bottom: 0px;
		}
		&__list {
			flex-wrap: wrap;
		}
		&__item {
			width: 46%;
			margin-bottom: 80px;
		}
		&__item-descr {
			min-height: 120px;
		}
	}
	// blog ==============================================================
	.blog {
		&__img {
			height: 320px;
			width: 320px;
		}
		&__list {
			grid-template-columns: 320px;
		}
		&__descr {
			font-size: 18px;
			line-height: 24px;
			min-height: 30px;
			padding-bottom: 10px;
			margin-bottom: 10px;
		}
	}
	// journals ==============================================================

	.journals {
		&__list {
			grid-template-columns: 320px;
		}
		&__item {
			width: 320px;
		}
		&__text-block {
			min-width: 320px;
		}
		&__item-bg-image {
			min-height: 320px;
			min-width: 320px;
		}
	}
	.image {
		width: 320px;
		height: 320px;
	}

	// Raido ==============================================================

	.raido {
		margin-top: 60px;
		&__video {
			max-width: 300px;
		}
	}
	.svg-raido--raido-shadow-dims {
		width: 300px;
		top: -60px;
		transform: translateX(6px);
	}
	// galery ===========================================
	.galery {
		&__list-container {
			max-width: 264px;
		}
		&__link {
			width: 264px;
			height: 400px;
			& img {
				min-height: 400px;
			}
		}
	}
	// contacts  ==============================================================

	.contacts {
		&__inner {
			row-gap: 30px;
			grid-template-rows: min-content 1fr 1fr;
			grid-template-columns: 1fr;
		}
		&__title-container {
			grid-column: 1/2;
		}
		&__subtitle {
			margin-bottom: 10px;
		}
		&__circle-block {
			width: 200px;
			height: 200px;
			& .svg-icons--phone-dims {
				margin-bottom: 4px;
			}
		}
		&__circle-block-title {
			font-size: 20px;
			line-height: 28px;
			margin-bottom: 6px;
		}
		&__circle-block-descr {
			line-height: 20px;
		}
	}

	// mail-form =========================================
	.mail-form {
		&__inner {
			flex-direction: column;
		}
		&__main {
			order: 2;
			height: auto;
			width: auto;
		}
		&__contacts {
			right: auto;
			left: auto;
			order: 1;
			position: relative;
			height: auto;
		}
		&__contacts-inner {
			padding-top: 20px;
			padding-bottom: 20px;
		}
		&__form {
			padding-top: 20px;
			row-gap: 6px;
		}
		&__input {
			padding: 14px 0 14px 20px;
		}
		&__title {
			line-height: 50px;
			margin-bottom: 20px;
		}
		&__subtitle {
			margin-bottom: 20px;
		}
		&__bg-wrapper {
			padding-right: 30px;
			padding-left: 30px;
			position: static;
		}
		&__contacts-list {
			row-gap: 10px;
		}
		&__contats-text {
			margin-left: 12px;
		}
		&__comment {
			min-height: 40px;
			max-height: 50px;
		}
	}
}
