//Mobile first
// @media (min-width: 1000px) {

// }

// Desktop first
@media (max-width: 889px) {

// blog ==============================================================
.blog {
	&__list {
		display: grid;
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: repeat(2, 300px);
		justify-items: center;
	}
	&__descr {
		font-size: 16px;
	}
}

	// journals ==============================================================

	.journals {
		&__list {
			grid-template-columns: repeat(2, 280px);
			column-gap: 20px;
		}
	}

	.galery {
		&__list-container {
			max-width: 730px;
		}
		&__link {
			width: 230px;
			height: 360px;
			& img {
				min-height: 360px;
			}
		}
	}
}
