@font-face {
	font-family: 'Muli', Arial, sans-serif;
	src: url('../fonts/Muli-Bold.ttf');
}

@font-face {
	font-family: 'Muli', Arial, sans-serif;
	src: url('../fonts/Muli-Ligth.ttf');
}

@font-face {
	font-family: 'Muli', Arial, sans-serif;
	src: url('../fonts/Muli-Regular.woff2') format('woff2'), url('../fonts/Muli-Regular.ttf') format('ttf');
}

@font-face {
	font-family: 'Muli', Arial, sans-serif;
	src: url('../fonts/Muli-SemiBold.ttf');
}

@font-face {
	font-family: 'Nunito', Arial, sans-serif;
	src: url('../fonts/Nunito-Regular.ttf');
}

@font-face {
	font-family: 'Playfair Display', Arial, sans-serif;
	src: url('../fonts/PlayfairDisplay-Bold.ttf');
}
@font-face {
	font-family: 'Playfair Display', Arial, sans-serif;
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: 'Poppins', Arial, sans-serif;
	src: url('../fonts/Poppins-Bold.ttf');
}
