@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Bold.woff2') format('woff2'),
		url('../fonts/Muli-Bold.woff') format('woff'),
		url('../fonts/Muli-Bold.ttf') format('ttf');
		font-weight: 700;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Light.woff2') format('woff2'),
		url('../fonts/Muli-Light.woff') format('woff'),
		url('../fonts/Muli-Light.ttf') format('ttf');
		font-weight: 300;
}


@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-Regular.woff2') format('woff2'),
		url('../fonts/Muli-Regular.woff') format('woff'),
		url('../fonts/Muli-Regular.ttf') format('ttf');
		font-weight: 400;
}

@font-face {
	font-family: 'Muli';
	src: url('../fonts/Muli-SemiBold.woff2') format('woff2'),
		url('../fonts/Muli-SemiBold.woff') format('woff'),
		url('../fonts/Muli-SemiBold.ttf') format('ttf');
		font-weight: 600;
}

@font-face {
	font-family: 'Nunito';
	src: url('../fonts/Nunito-Regular.woff2') format('woff2'),
		url('../fonts/Nunito-Regular.woff') format('woff'),
		url('../fonts/Nunito-Regular.ttf') format('ttf');
		font-weight: 400;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Bold.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Bold.ttf') format('ttf');
		font-weight: 700;
}

@font-face {
	font-family: 'Playfair Display';
	src: url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Regular.woff') format('woff'),
		url('../fonts/PlayfairDisplay-Regular.ttf') format('ttf');
		font-weight: 400;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
		url('../fonts/Poppins-Bold.woff') format('woff'),
		url('../fonts/Poppins-Bold.ttf') format('ttf');
		font-weight: 700;
}


