.none {
	display: none !important;
}

.svg-icons--compas-dims {
	transition: 0.5s all;
}
.explore-btn:hover .svg-icons--compas-dims {
	animation: compass 3s linear;
}

@keyframes compass {
	0% {
		transform: rotate(0deg);
	}
	5% {
		transform: rotate(-90deg);
	}
	10% {
		transform: rotate(-15deg);
	}
	20% {
		transform: rotate(-75deg);
	}
	30% {
		transform: rotate(-30deg);
	}
	40% {
		transform: rotate(-60deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	95% {
		transform: rotate(-45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

.svg-icons--arrow-black-dims,
.svg-icons--arrow-dims {
	transition: 0.5s all;
}
.read-btn:hover .svg-icons--arrow-black-dims,
.read-btn:hover .svg-icons--arrow-dims,
.discover-btn:hover .svg-icons--arrow-dims {
	animation: arrow 1s linear infinite;
}


// sweet alarm =======================================
body .invalid-value::placeholder {
	color: red;
}

body .valid-value {
	color: green;
}
.swal-overlay {
	background-color: rgba(0, 0, 0, 0.75);
}
.swal-modal {
	background-color: var(--color-gray);
}
.swal-title {
	color: #fff;
}
.swal-text {
	color: #fff;
}
.swal-icon--success:after,
.swal-icon--success::before,
.swal-icon--success__hide-corners {
	background-color: var(--color-gray);
}
.swal-icon--success__ring {
	border: 4px solid hsla(98, 55%, 69%, 1);
}
.swal-button:not([disabled]):hover{
	background-color: var(--color-orange-dark);
	border: 1px solid var(--color-orange-dark);
	border-radius: 0;
	color: var(--color-bg);
}
.swal-button:focus{
	box-shadow: none;
}
.swal-button {
	&:hover {
		border: transparent;
		border-radius: 0;
	}
	&:active {
		border: transparent;
		border-radius: 0;
	}
	border: 1px #fff solid;
	border-radius: 0;
	background-color: var(--color-bg);
}
// =================================================
@media (pointer: coarse) {
	.read-btn:hover .svg-icons--arrow-black-dims,
	.read-btn:hover .svg-icons--arrow-dims,
	.discover-btn:hover .svg-icons--arrow-dims {
		animation: none;
	}
}

@keyframes arrow {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(-10px);
	}
	50% {
		transform: translateX(0px);
	}
	75% {
		transform: translateX(10px);
	}
	100% {
		transform: translateX(0px);
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.no-scroll {
	overflow-y: hidden;
}

.shading {
	background-color: rgba(27, 27, 27, 0.877);
}

.title {
	@extend %font-Playfair-Display-700;
	font-size: 42px;
	line-height: 72px;
	margin-bottom: 30px;
	text-align: center;
}
.subtitle {
	@extend %font-Muli-400;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	margin-bottom: 60px;
}

