:root {
	--container-width: 1200px;
	--container-padding: 20px;

	// --font-main: sans-serif;
	// --font-accent: 'Playfair Display', serif;

	--color-bg: #0a0d13;
	--color-text: #ffffff;
	--color-orange-dark: #e89400;
	--color-orange: #f49f0a;
	--color-gray: #1f242e;

	--laptop-size: 1199px;
	--tablet-size: 959px;
	--mobile-size: 599px;
}

// $laptop-size: 1199px;
// $tablet-size: 959px;
// $mobile-size: 599px;

.dark {
	--page-bg-color: #252526;
	--text-color: #fff;
}

%font-Muli-700 {
	font: {
		family: 'Muli';
		weight: 700;
		style: normal;
	}
}

%font-Muli-300 {
	font: {
		family: 'Muli';
		weight: 300;
		style: normal;
	}
}

%font-Muli-400 {
	font: {
		family: 'Muli';
		weight: 400;
		style: normal;
	}
}

%font-Muli-600 {
	font: {
		family: 'Muli';
		weight: 600;
		style: normal;
	}
}

%font-Nunito-Regular-400 {
	font: {
		family: 'Nunito';
		weight: 400;
		style: normal;
	}
}

%font-Playfair-Display-700 {
	font: {
		family: 'Playfair Display';
		weight: 700;
		style: normal;
	}
}

%font-Playfair-Display-400 {
	font: {
		family: 'Playfair Display';
		weight: 400;
		style: normal;
	}
}

%font-Poppins-700 {
	font: {
		family: 'Poppins';
		weight: 700;
		style: normal;
	}
}
