.about {
	
	&__photo-container {
		position: absolute;
		right: 0;
		min-height: 783px;
		min-width: 712px;
		background-image: url('../img/about/about.png');
		background-repeat: no-repeat;
		background-size: contain;
		z-index: -1;
	}
	&__inner {
		min-height: 783px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&__title {
		text-align: left;
	}
	&__subtitle {
		text-align: left;
		max-width: 474px;
		margin-bottom: 60px;
	}
}

.stat {
	margin-bottom: 54px;
	&__list {
		display: flex;
	}
	&__item {
		padding: 25px 75px 30px;
		background-color: var(--color-gray );
		text-align: center;
		position: relative;
		&::after{
			position: absolute;
			right: 0;
			top: 42%;
			content: '';
			display: block;
			height: 37px;
			width: 2px;
			background-color: #2B313C;

		}
		&:last-of-type{
			&::after{
				display: none;
			}
		}
	}
	&__item-number {
		@extend %font-Playfair-Display-400;
		font-size: 42px;
		margin-bottom: 7px;
		// line-height: 72px;
	}
	&__item-name {
		font-size: 18px;
		line-height: 23px;
	}
}
