.banner {

	&__inner {
		min-height: 905px;
		display: flex;
		flex-direction: column;
		justify-content: center;

	}
	&__title {
		max-width: 635px;
		font-size: 64px;
		line-height: 72px;
		margin-bottom: 13px;
	}
	&__subtitle {
		margin-bottom: 60px;
		display: flex;
		align-items: center;
		font-size: 18px;
		&::before {
			display: block;
			content: '';
			width: 40px;
			height: 1.5px;
			margin-right: 20px;
			background-color: #fff;
			color: #fff;
		}
	}
}
