.blog {
	background-color: #0d1117;
	&__inner {
	}
	&__title {
	}
	&__subtitle {
	}
	&__list {
		display: flex;
		justify-content: center;
	}
	&__item {
		overflow: hidden;
	}
	&__link {
		position: relative;
	}
	&__descr {
		transition: 0.3s;
		font-size: 18px;
		line-height: 24px;
		margin-bottom: 0;
		position: absolute;
		bottom: 0;
		text-align: left;
		padding: 0 60px 23px 20px;
		min-height: 95px;
		z-index: 1;
	}
	&__img {
		transition: 0.3s;

		&:hover {
			transform: scale(1.1);
			// .blog__descr {
			// 	transform: scale(0.9);
			// 	// bottom: 15px;
			// }
		}
		position: relative;
		// justify-content: end;
		// display: flex;
		// flex-direction: column;
		background-size: cover;
		background-repeat: no-repeat;
		height: 360px;
		width: 360px;
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, #0a0d13 0%, rgba(0, 0, 0, 0.61) 30%, #00000000 100%);
			// background: linear-gradient(0deg, #0a0d13 0%, rgba($color: #000, $alpha: 0.61) 30%, #00000000 100%);
		}
	}
	&__img-1 {
		background-image: url('../../img/blog/blog-1.png');
	}
	&__img-2 {
		background-image: url('../../img/blog/blog-2.png');
	}
	&__img-3 {
		background-image: url('../../img/blog/blog-3.png');
	}
	&__img-4 {
		background-image: url('../../img/blog/blog-4.png');
	}
}
