.discover-link {
}
.discover-btn {
	padding: 15px 20px;
	display: inline-flex;
	border: 1.5px var(--color-text) solid;
}
.discover-btn-text-block {
	margin-right: 28px;
}
.discover-btn-text {
}
.discover-btn-icon-block {
}
.svg-icons--arrow-dims {
}
