.discover {
	background-color: #0d1117;
	&__inner {
		padding-top: 120px;
		padding-bottom: 260px;
	}
	&__title {
	}
	&__subtitle {
		@extend %font-Muli-300;
		line-height: 20px;
	}
	&__list {
		display: flex;
		column-gap: 70px;
		justify-content: center;
	}
	&__item {
		width: 340px;
		height: 500px;
		background-size: cover;
		transition: transform 0.3s;
		// transition-delay: 0.2s;
		&:hover {
			transform: translateY(60px);
			.discover__item-title {
				color: var(--color-orange);
			}
		}
		padding: 0 30px;
		display: flex;
		flex-direction: column;
		justify-content: end;
		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			// top: 0;
			left: 0;
			// background: transparent;
			background-image: linear-gradient(180deg, #00000000 0%, #00000083 70%, #0d1117 100%);
			// opacity: 0.8;
		}
	}
	&__item-1 {
		background-image: url('../../img/discover/discover-1.png');
		position: relative;
	}
	&__item-2 {
		background-image: url('../../img/discover/discover-2.png');
		position: relative;
	}
	&__item-3 {
		background-image: url('../../img/discover/discover-3.png');
		position: relative;
	}
	&__item-text-container {
		margin-bottom: -100px;
		z-index: 1;
	}
	&__item-link {
	}
	&__item-title {
		@extend %font-Playfair-Display-700;
		font-size: 34px;
		color: var(--color-orange-dark);
		margin-bottom: 12px;
	}
	&__item-descr {
		margin-bottom: 30px;
		text-align: left;
		font-weight: 300;
		min-height: 80px;
	}
}
