.explore-link {
}
.explore-btn {
	display: flex;
}
.explore-btn-text-block {
	color: #000;
	background-color: var(--color-orange);
	
}
.explore-btn-text {
}
.explore-btn-icon-block {
}
.svg-icons--compas-dims {
}
