.header-banner-container {
	min-height: 818px;
	background-image: url('../../img/banner/banner.jpg') ;
	background-repeat: no-repeat;
	background-size: cover;
}

.header {
	border-bottom: #93a0a7 solid 1px;
	backdrop-filter: blur(10px) brightness(65%) ;
	&__container {
		padding: 28px 0;
		display: flex;
		justify-content: space-between;
	}
	&__inner {
		display: flex;
		justify-content: end;
		align-items: center;
		text-transform: capitalize;
	}
	&__search-link {

	}
}

.container {
}
.logo-link {
}
.logo {
	@extend %font-Poppins-700;
	font-size: 22px;
	line-height: 33px;
}
.menu {
}
.menu-list {
	margin-right: 65px;
	display: flex;
}
.menu-link {
	font-size: 16px;
	margin-right: 63px;
	&:last-child {
		margin-right: 0;
	}
}
.menu-item {
}
.svg-icons--search-icon-dims {
	height: 23px;
	width: 23px;
}
.svg-icons--cart-icon-dims {
	height: 25px;
	width: 25px;
}
.mobile-burger {
	&__btn {
	}
}
