.mail-form {
	z-index: -100;
	transition: all 0.2s;
	position: relative;
	transform: translateY(-100%);
	opacity: 0;
	max-height: 0;

	&--active {
		transform: translate(0);
		padding-top: 150px;
		max-height: 100%;
		opacity: 1;
		z-index: 1;
	}
	&__inner {
		display: flex;
	}
	&__main {
		width: 55%;
		height: 600px;
	}
	&__form {
		display: flex;
		flex-direction: column;
		row-gap: 40px;
		padding-top: 71px;
		padding-right: 88px;
		align-items: end;
	}
	&__input {
		background-color: #20232c ;
		width: 100%;
		padding: 22px 0 22px 30px;
		&::placeholder {
			color: #fff;
		}
		&:last-of-type {
			padding-bottom: 130px;
		}
		&:focus {
			&::placeholder {
				opacity: 0.07;
			}
		}
	}
	&__user-name {
	}
	&__user-mail {
		
	}
	&__comment {
	}
	&__submit {
		
	}
	&__contacts {
		background-size: cover;
		background-repeat: no-repeat;
		position: absolute;
		right: 0;
		left: 55%;
		height: 600px;
	}
	&__bg-wrapper {
		background-color: #c57e00;
		opacity: 0.87;
		padding-right: 140px;
		padding-left: 100px;
		top: 0;
		bottom: 0;
		position: absolute;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__contacts-inner {
	}
	&__header {
	}
	&__title {
		text-align: left;
	}
	&__subtitle {
		text-align: left;
	}
	&__contacts-list {
		display: flex;
		flex-direction: column;
		row-gap: 34px;
	}
	&__contacts-item {
	}
	&__contacts-link {
	}
	&__contacts-icon {
	}
	&__contats-text {
		margin-left: 21px;
	}
}
.svg-icons--phone-dims,
.svg-icons--mail-dims,
.svg-icons--globe-dims {
	width: 22px;
	height: 22px;
	// margin-right: 21px;
}

.container {
}
.read-btn {
}
.read-btn-text-block {
}
.read-btn-text-block-light {
	.read-btn-text {
		color: var(--color-bg);
		padding: 15px 40px;
	}
}
.read-btn-text {
}
.read-btn-icon-block {
}
.svg-icons--arrow-dims {
}
.title {
}
.subtitle {
}
