
.mobile-nav {

	&__menu {
		&:has(.mobile-nav--active) {
			z-index: 200;
			transition: 0.7s;
			position: absolute;
			background-color: rgba($color: #1b1b1b, $alpha: 0.5);
			width: 100vw;
			height: 100vh;
		}
	}
	&__wrapper {
		background-color:var(--color-bg);
		margin: 0 auto;
		left: 0;
		right: 0;
		top: -100%;
		// top: 0;
		position: absolute;
		// width: 360px;
		height: 100vh;
		text-align: center;
		transition: 0.7s;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__top {
		padding: 20px;
		display: flex;
		flex-direction: row-reverse;
	}
	&__close-btn {
		position: absolute;
		top: 34px;
		right: 22px;
		background-color: #fff;
	}
	&__list {
		// @extend %font-cormorant-400;
		font-size: 24px;
		line-height: normal;
	}
	&__item {
		margin-bottom: 30px;
	}
	&__link {
		color: #000;
	}

}
body:has(.mobile-nav--active) {
	overflow-y: hidden;
}
.mobile-nav__wrapper.mobile-nav--active {
	top: 0;
}


.svg-icons--cross-dims {
	height: 20px;
	width: 20px;
}
