.raido {
	&__inner {
		position: relative;
		display: flex;
		justify-content: center;
		& svg {
			width: 0;
			height: 0;
		}
	}
	&__video {
		max-width: 660px;
		// Чтобы сделать сложную фигуру с видео вместо цвета, и при этом иметь возможность сделать обводку. 3 способа годятся.1 - через mask-image, 2 через clip-path + ссылка на элемент в разметке (clip-path: url(#cross);), 3 через clip-path: path()

		mask-image: url('../img/sprite.svg#raido--mask');
		mask-repeat: no-repeat;
		mask-size: cover;
		mask-position: center;

		// clip-path: url(#cross);

		// clip-path: path(
		// 	"M92.2,243.661l-30.256-52.8H54.23v52.8H20.414V103.85H78.158q16.611,0,28.081,5.735a39.6,39.6,0,0,1,17.2,15.721,45.038,45.038,0,0,1,5.735,22.841q0,15.227-8.4,25.906T96.351,188.686l33.223,54.975ZM54.23,167.724H75.192q10.085,0,14.831-4.449t4.746-13.151q0-8.306-4.845-13.052t-14.733-4.746H54.23Zm140.059-35.793q12.656,0,21.753,5.735a34.476,34.476,0,0,1,13.447,15.623V133.315h33.618V243.661H229.489V223.688a34.476,34.476,0,0,1-13.447,15.623q-9.1,5.735-21.753,5.735a44.691,44.691,0,0,1-24.423-6.823q-10.778-6.822-17.007-19.676t-6.229-30.059q0-17.4,6.229-30.157a46.789,46.789,0,0,1,17.007-19.578A44.691,44.691,0,0,1,194.289,131.931Zm10.876,29.663q-10.876,0-17.5,7.119t-6.625,19.775q0,12.656,6.625,19.775t17.5,7.119q10.679,0,17.5-7.317t6.822-19.578q0-12.458-6.822-19.676T205.165,161.594Zm84.292-59.326a16.506,16.506,0,0,1,5.537-12.755q5.537-5.043,14.634-5.043t14.634,5.043a16.506,16.506,0,0,1,5.537,12.755,16.288,16.288,0,0,1-5.537,12.557q-5.537,5.043-14.634,5.043t-14.634-5.043A16.288,16.288,0,0,1,289.457,102.268Zm36.98,31.047V243.661H292.621V133.315Zm71.438-1.384q12.656,0,21.753,5.735a33.3,33.3,0,0,1,13.25,15.623V97.324h33.816V243.661H432.878V223.688a33.3,33.3,0,0,1-13.25,15.623q-9.1,5.735-21.753,5.735a44.691,44.691,0,0,1-24.423-6.823q-10.777-6.822-17.007-19.676t-6.229-30.059q0-17.4,6.229-30.157a46.789,46.789,0,0,1,17.007-19.578A44.691,44.691,0,0,1,397.876,131.931Zm10.876,29.663q-10.876,0-17.5,7.119t-6.625,19.775q0,12.656,6.625,19.775t17.5,7.119q10.679,0,17.5-7.317t6.822-19.578q0-12.458-6.822-19.676T408.752,161.594Zm139.07-29.663a62.052,62.052,0,0,1,29.366,6.822,50.017,50.017,0,0,1,20.369,19.676q7.416,12.854,7.416,30.059t-7.416,30.059a50.017,50.017,0,0,1-20.369,19.676,66.826,66.826,0,0,1-58.832,0,49.861,49.861,0,0,1-20.467-19.676q-7.416-12.854-7.416-30.059t7.416-30.059a49.861,49.861,0,0,1,20.467-19.676A62.642,62.642,0,0,1,547.822,131.931Zm0,29.267a21.548,21.548,0,0,0-16.315,7.02q-6.625,7.02-6.625,20.27t6.625,20.171a21.694,21.694,0,0,0,16.315,6.921,21.38,21.38,0,0,0,16.216-6.921q6.526-6.921,6.526-20.171t-6.526-20.27A21.239,21.239,0,0,0,547.822,161.2Zm110,48.647v33.816h-35V209.846Z"
		// );
	}
}
.svg-raido--raido-shadow-dims {
	position: absolute;

	// width: 637px;
	// top:-148px;

	width: 660px;
	top: -138px;

	transform: translate(12px);
}
