.galery {
	&__list-container {
		margin: 0 auto;
		position: relative;
		max-width: 1400px;
	}
	&__list {
		display: flex;
		justify-content: center;
		column-gap: 20px;
	}
	&__item {
	}
	&__link {
		text-align: center;
		min-width: 264px;
		min-height: 400px;
		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: end;
		background-position: center;
		box-shadow: 0 0 60px rgba($color: #0a0d13, $alpha: 0);
		transition: min-width 0.5s, scale 0.5s, opacity 1s, box-shadow 2s;
		&:hover {
			.galery__item-title,
			.galery__item-subtitle {
				opacity: 1;
			}
			scale: 1.15 1.06;
			min-width: 300px;
			box-shadow: 0 0 60px rgba($color: #0a0d13, $alpha: 1);
		}
	}

	&__item-title {
		@extend %font-Playfair-Display-700;
		font-size: 34px;
		opacity: 0;
		transition: opacity 1s;
	}
	&__item-subtitle {
		margin-bottom: 21px;
		@extend %font-Muli-300;
		opacity: 0;
		transition: opacity 1s 0.3s;
	}
	&__link-1 {
		background-image: url(../img/galery/galery-1.png);
	}
	&__link-2 {
		background-image: url(../img/galery/galery-2.png);
	}
	&__link-3 {
		background-image: url('../img/galery/bottom-shadow.png'), url(../img/galery/galery-3.png);
	}
	&__link-4 {
		background-image: url(../img/galery/galery-4.png);
	}
	&__link-5 {
		background-image: url(../img/galery/galery-5.png);
	}

	&__prev-btn {
		clip-path: circle(22px at center);
		width: 46px;
		height: 46px;
		background-color: transparent;
		&:hover {
			background-color: rgba($color: #bfbaa2, $alpha: 0.7);
		}
		top: calc(50% - 40px);
		position: absolute;
		left: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.5s;
	}
	&__next-btn {
		clip-path: circle(23px at center);
		width: 46px;
		height: 46px;
		background-color: transparent;
		&:hover {
			background-color: rgba($color: #bfbaa2, $alpha: 0.7);
		}
		top: calc(50% - 40px);
		position: absolute;
		right: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.5s;
	}
}

.svg-icons--prev-dims {
	transform: translateX(-1px);
}
.svg-icons--next-dims {
	transform: translateX(1px);
}
