.galery {
	margin-top: -100px;
	padding-top: 100px;
	&__list-container {
		margin: 0 auto;
		position: relative;
		max-width: 1400px;
		overflow: hidden;
	}
	&__list {
		display: flex;
		justify-content: center;
		column-gap: 20px;
	}
	&__item {
		min-width: 264px;
		min-height: 400px;
	}
	&__link {
		position: relative;
		text-align: center;
		min-width: 264px;
		min-height: 400px;

		background-size: cover;
		background-repeat: no-repeat;
		display: flex;
		flex-direction: column;
		justify-content: end;
		background-position: center;
		box-shadow: 0 0 60px rgba($color: #0a0d13, $alpha: 0);
		transition: min-width 0.5s, scale 0.5s, opacity 1s, box-shadow 2s;
		& img {
			min-height: 400px;
		}
		&::before {
			content: '';
			opacity: 0;
			width: 100%;
			height: 100%;
			position: absolute;
			background-image: url('../img/galery/bottom-shadow.png');
			transition: opacity 0.5s;
		}
		&:hover {
			.galery__item-title,
			.galery__item-subtitle,
			&::before {
				opacity: 1;
			}

			// &:hover::before {
			// 	opacity: 0;
			// }

			// box-shadow: 0 0 60px rgba($color: #0a0d13, $alpha: 1);
		}
	}
	&__item-title {
		position: absolute;
		bottom: 44px;
		left: 0;
		right: 0;
		margin: 0 auto;
		@extend %font-Playfair-Display-700;
		font-size: 34px;
		opacity: 0;
		transition: opacity 0.5s;
	}
	&__item-subtitle {
		position: absolute;
		bottom: 21px;
		left: 0;
		right: 0;
		margin: 0 auto;

		@extend %font-Muli-300;
		opacity: 0;
		transition: opacity 0.5s 0.2s;
	}

	&__prev-btn {
		user-select: none;
		z-index: 100;
		// clip-path: circle(22px at center);
		width: 40px;
		height: 80px;
		border-radius: 0 40px 40px 0;
		background-color: rgba($color: #424242, $alpha: 0.3);
		&:hover {
			background-color: rgba($color: #424242, $alpha: 0.85);
		}
		top: calc(50% - 40px);
		position: absolute;
		// left: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.5s;
	}
	&__next-btn {
		user-select: none;
		z-index: 100;
		// clip-path: circle(23px at center);
		width: 40px;
		height: 80px;
		border-radius: 40px 0 0 40px;
		background-color: rgba($color: #424242, $alpha: 0.3);
		&:hover {
			background-color: rgba($color: #424242, $alpha: 0.85);
		}
		top: calc(50% - 40px);
		position: absolute;
		right: 0px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.5s;
	}
}

.svg-icons--prev-dims {
	transform: translateX(-2px);
}
.svg-icons--next-dims {
	transform: translateX(2px);
}
