.journals {
	&__inner {
		padding-top: 120px;
	}
	&__title {
	}
	&__subtitle {
		max-width: 520px;
		margin: 0 auto 60px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 40px;
		justify-items: center;
	}
	&__item {
		width: 340px;
	}
	&__link {
	}
	&__text-block {
		position: relative;
		background-color: var(--color-gray);
		min-width: 340px;
		padding: 30px;
	}
	&__author {
		font-size: 14px;
		margin-bottom: 10px;
		line-height: 18px;
		display: flex;
		align-items: center;
	}
	&__author-avatar {
		margin-right: 10px;
	}
	&__author-name {
	}
	&__item-title-link {
	}
	&__item-title {
		font-size: 18px;
		margin-bottom: 12px;
		line-height: 24px;
		min-height: 48px;
	}
	&__item-date {
		color: #757d8c;
		font-size: 14px;
		line-height: 18px;
	}

	&__item-bg-image {
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 360px;
		min-width: 340px;
	}
	&__img-1 {
		background-image: url('../../img/journals/journals-1.jpg');
	}
	&__img-2 {
		background-image: url('../../img/journals/journals-2-1.jpg');
	}
	&__img-3 {
		background-image: url('../../img/journals/journals-3.jpg');
	}
	&__img-4 {
		background-image: url('../../img/journals/journals-4.jpg');
	}
	&__img-5 {
		background-image: url('../../img/journals/journals-5.jpg');
	}
	&__img-6 {
		background-image: url('../../img/journals/journals-6.jpg');
	}
}
.svg-icons--share-dims {
	height: 24px;
	width: 24px;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.read-btn-container {
	position: relative;
	z-index: 5;
	display: flex;
	justify-content: center;
	margin-top: 60px;
}


// ============================
.image {
	position: relative;
	width: 340px;
	height: 360px;
	margin: 0 auto;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
  }
  
  .image-switch {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 20;
	width: 100%;
	height: 100%;
	display: flex;
	opacity: 0;
	transition: all 0.3s ease-in-out;
  }
  
  .img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .image-switch-item {
	width: 33.33%;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 5px;
  }
  
  .image-switch-item::after {
	content: "";
	width: 90%;
	margin: 0 auto;
	height: 3px;
	background-color: rgba(255,255,255, 0.4);
	border-radius: 10px;
	z-index: 2;
	position: relative;
	transition: all 0.3s ease-in-out;
  }
  
  .switched-image {
	position: absolute;
	left: 50%;
	top: 0;
	opacity: 0;
	z-index: 2;
	transition: all 0.3s ease-in-out;
	width: 100%;
	height: 100%;
	transform: translateX(-50%);
	pointer-events: none;
  }
  
  .image:hover .image-switch {
	opacity: 1;
	transition: all 0.3s ease-in-out;
  }
  
  .image-switch-item:hover .switched-image {
	transition: all 0.3s ease-in-out;
	opacity: 1;
	z-index: -1;
  }
  
  .image-switch-item:hover::after {
	background-color: #fff;
	transition: all 0.3s ease-in-out;
  }

  @media (pointer: coarse) {
	.image .image-switch {
		opacity: 1;
	}
	.image-switch-item:active .switched-image{
		transition: all 0.3s ease-in-out;
		opacity: 1;
		z-index: -1;
	}
	.image-switch-item:active::after {
		background-color: #fff;
		transition: all 0.3s ease-in-out;
	}
}