.journals {
	&__inner {
		margin-top: 200px;
	}
	&__title {
	}
	&__subtitle {
		max-width: 520px;
		margin: 0 auto 60px;
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		row-gap: 40px;
		justify-items: center;
	}
	&__item {
		width: 340px;

	}
	&__link {

	}
	&__text-block {

		position: relative;
		background-color: var(--color-gray);
		min-width: 340px;
		padding: 30px;

	}
	&__author {
		font-size: 14px;
		margin-bottom: 10px;
		line-height: 18px;
		display: flex;
		align-items: center;
	}
	&__author-avatar {
		margin-right: 10px;
	}
	&__author-name {
	}
	&__item-title-link {
	}
	&__item-title {
		font-size: 18px;
		margin-bottom: 12px;
		line-height: 24px;
		min-height: 48px;
	}
	&__item-date {
		color: #757d8c;
		font-size: 14px;
		line-height: 18px;
	}

	&__item-bg-image {
		background-repeat: no-repeat;
		background-size: contain;
		min-height: 360px;
		min-width: 340px;
	}
	&__img-1 {
		background-image: url('../../img/journals/journals-1.png');
	}
	&__img-2 {
		background-image: url('../../img/journals/journals-2.png');
	}
	&__img-3 {
		background-image: url('../../img/journals/journals-3.png');
	}
	&__img-4 {
		background-image: url('../../img/journals/journals-4.png');
	}
	&__img-5 {
		background-image: url('../../img/journals/journals-5.png');
	}
	&__img-6 {
		background-image: url('../../img/journals/journals-6.png');
	}
}
.svg-icons--share-dims {
	height: 24px;
	width: 24px;
	position: absolute;
	right: 30px;
	bottom: 30px;
}
.read-btn-container{
display: flex;
justify-content: center;
margin-top: 60px;
}